<!-- <ul>
  <li *ngFor="let item of list">{{item}}</li>
</ul> -->

<div class="task" *ngFor="let task of tasks">
  <div class="task__name" [ngClass]="{'task__name--done': task.done == true}">
    {{ task.title }}
  </div>
</div>