<!-- <app-nombre-component [name]="name" [surname]="surname" [age]="age" [sex]="sex"></app-nombre-component> -->

<!-- <app-button [text]="'hola'"></app-button> -->
<!-- <app-button [text]="'enviar'"></app-button> -->

<!-- <app-button (confirmEmitter)="confirmed($event)"></app-button> -->

<!-- <app-if-example [mostrar]="true"></app-if-example> -->

<!-- <app-over18 [verificar]="verificar"></app-over18> -->

<!-- <app-for-example [list]="listOfFather"></app-for-example>
<app-for-example [list]="listOfFather2"></app-for-example>
<app-for-example [list]="listOfFather3"></app-for-example> -->

<!-- <app-for-example></app-for-example> -->
<!-- <app-tasks [tasks]="taskList2"></app-tasks> -->
<a routerLink="/tasks/5" routerLinkActive="active">Tasks</a>
<router-outlet></router-outlet>